@*@model Roulette_Asp.Models.User;*@

<h1> You are logged in!</h1>
@*<h2>@Model.Username</h2>*@

@if (Model == null || Model.Count == 0)
{
    <p>No Data in Model</p>
}
else
{
    @foreach (var user in Model)
    {
        <div>@user.Id - @user.Username</div>
    }
}