@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to the Casino</h1>
<form method="post" asp-controller="Home" asp-action="Login">
    <div>
        <label for="username" id="username">User Name:</label>
        <input type="text" id="Username" />
    </div>
   
    <div>
        <label for="password" id="password">Password:</label>
        <input type="password" id="Password" />
    </div>
    
    <button class="btn-group" type="submit">Login</button>


</form>
<a asp-controller="AddUser" asp-action="Index">Register New User</a>